<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>


    <script>
    $( document ).ready(function() {
      var valid = ["smelly", "twerky", "hurryupwithmydamn", "stale","crusty","buttery","sausage", "vegetariansausage","tofu","verynothealthy", "cold","warm","robot","connected","kanye", "imastealyour","northwest", "kanye"]
      $("#search_croissant").on( "click", function() {
          if($.inArray($('#search_text').val(), valid))
            window.location.href = "http://" + $('#search_text').val() + ".croissant.forsale:3000"
        });
    });
    </script>
  </body>
</html>
